<div class="card">
    <div class="card-header">
        <clr-icon *ngIf="!post.photoURL" shape="user" size="20" class="no-photo-constrain"></clr-icon>
        <img *ngIf="post.photoURL" src={{post.photoURL}} class="avatar-constrain" />
        <span class="ellipsify">{{post.displayName || post.email}}</span>
    </div>
    <div class="card-block">
        <h5 *ngIf="post.type == 'text'" class="remove-margin">{{post.content}}</h5>
        <img class="img-restrict" *ngIf="post.type == 'photo'" src={{post.content}} />
    </div>
    <div class="card-footer">
        <div clss="btn-group btn-outline-primary">
            <button *ngIf="!liked()" class="btn" (click)="like()">
                <clr-icon shape="thumbs-up"></clr-icon>
                Like ({{getLikeCount()}})
            </button>
            <button *ngIf="liked()" class="btn" (click)="like()">
                <clr-icon shape="thumbs-up"></clr-icon>
                Unlike ({{getLikeCount()}})
            </button>
            <button class="btn" (click)="showCommentBox = !showCommentBox">
                <clr-icon shape="talk-bubbles"></clr-icon>
                Comments ({{getCommentCount()}})
            </button>
        </div>
        <div class="card-block" *ngIf="showCommentBox">
            <ng-container *ngFor="let com of post.comments">
                 <p class="label label-info large-text"><b>{{com.name}}&nbsp;</b>{{com.content}}</p>
                 <br>
            </ng-container>
            <br>
            <input class="comment-input" type="text" [(ngModel)]="comment" placeholder="Share your comments here...">
            <button type="button" class="btn btn-primary btn-sm btn-comment" (click)="postComment()">Comment</button>
        </div>
    </div>
</div>