.comment-input {
	width: 78%;
}

.btn-comment {
	float: right;
}

.large-text {
	font-size: .6rem;
	word-break: break-all;
	height: auto;
	line-height: .6rem;
	white-space: normal;
}

.img-restrict {
	width: 100%;
}

.remove-margin {
	margin-top: 0!important;
}

.no-photo-constrain {
	padding: 2px;
    border: 1px solid;
    border-radius: 50%;
    margin-top: -2px;
}

.avatar-constrain {
	max-width: 20px;
	border-radius: 50%;
    margin-top: -2px;
}

.ellipsify {
	overflow: hidden;
    text-overflow: ellipsis;
}

.comment-name {
	font-size: .6rem;
}

.no-photo-constrain-comment {
	padding: 2px;
    border: 1px solid;
    border-radius: 50%;
    margin-top: -2px;
}

.avatar-constrain-comment {
	max-width: 20px;
	border-radius: 50%;
    margin-top: -2px;
}