<div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-img">
                <img style="width:200px; height:50px;" src="https://photos.app.goo.gl/y0Xq4NiJVEZqFxE23" />
            </div>
            
            <div class="card-block">
                <b>Post here</b>
            </div>
            
            <div class="card-footer">
                <div clss="btn-group btn-primary">
                    <button class="btn">
                        <clr-icon shape="thumbs-up"></clr-icon>
                        Like
                    </button>
                    <button class="btn">
                        <clr-icon shape="talk-bubbles"></clr-icon>
                        Comment
                    </button>
                    <button class="btn">
                        <clr-icon shape="share"></clr-icon>
                        Share
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>