.timeline-pad {
	padding-top: 80px;
	max-width: 1200px;
	margin: auto;
}

.center-text {
	text-align: center;
}

.avatar-constrain {
	max-width: 100px;
	border-radius: 50%;
}

.no-photo-constrain {
	padding: 12px;
    border: 1px solid;
    border-radius: 50%;
}

.ellipsify {
	overflow: hidden;
    text-overflow: ellipsis;
}

.full-width {
	width: 100%;
}

@media (max-width: 768px) { 
	.expand-mobile {
		flex: 0 0 50% !important;
    	max-width: 50% !important;
	}
}