.login-wrapper {
	background: #007FC4;
}

.username {
	width: 100%;
}

.password {
	width: 100%;
}

.login-btn {
	margin: .25rem 0 .25rem 0 !important;
}

.callout {
	margin-top: 0 !important;
}

.align-icon {
	margin-top: -4px;
	margin-right: 4px;
}