<div class="card">
    <div class="card-header">
        Make a Post
    </div>
    <div class="card-block">
        <clr-tabs>
            <clr-tab>
                <button clrTabLink>Text</button>
                <ng-template [(clrIfActive)]="textActive">
                </ng-template>
            </clr-tab>
            <clr-tab>
                <button clrTabLink>Photo</button>
            </clr-tab>
        </clr-tabs>
    </div>
    <div class="card-block">
        <div *ngIf="textActive">
            <textarea rows="3" placeholder="Share your story here..." [(ngModel)]="postText"></textarea>
        </div>
        <div *ngIf="!textActive" class="centered">
            <img [src]="postImage" *ngIf="postImage" class="img-restrict">
            <br *ngIf="postImage">
            <label class="custom-file-upload">
                <input type="file" imageUpload [resizeOptions]="options" (imageSelected)="selectedImage($event)">
                <span *ngIf="!postImage"><clr-icon shape="upload" size="16"></clr-icon>Upload Photo</span>
                <span *ngIf="postImage"><clr-icon shape="upload" size="16"></clr-icon>Change Photo</span>

            </label>
        </div>
    </div>
    <div class="card-footer align-right">
        <a class="btn btn-primary" (click)="createPost()"><clr-icon shape="pin" class="post-icon"></clr-icon>Post</a>
    </div>
</div>