<div class="card">
    <div class="card-header">
        Make a Post
    </div>
    <div class="card-block">
        <clr-tabs>
            <clr-tab>
                <button clrTabLink>Text</button>
                <ng-template [(clrIfActive)]="textActive">
                </ng-template>
            </clr-tab>
            <clr-tab>
                <button clrTabLink>Photo</button>
            </clr-tab>
        </clr-tabs>
    </div>
    <div class="card-block">
        <div *ngIf="textActive">
            <textarea rows="3" placeholder="Share your story here..."></textarea>
        </div>
        <div *ngIf="!textActive">
        </div>
    </div>
    <div class="card-footer align-right">
        <a class="btn btn-primary" (click)="createPost()">Post</a>
    </div>
</div>