<div class="card">
    <div class="card-header">
        Make a Post
        <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-bottom-left lock-icon">
            <clr-icon shape="lock"></clr-icon>
            <span class="tooltip-content">Your privacy is our number one priority. Every post you make is encrypted, unviewable by our team, and accessible only by your friends and you.</span>
        </a>
    </div>
    <div class="card-block">
        <ul class="nav" role="tablist">
            <li role="presentation" class="nav-item">
                <button class="btn btn-link nav-link" [class.active]="textActive" aria-selected="true" type="button" (click)="textActive = true">Text</button>
            </li>
            <li role="presentation" class="nav-item">
                <button class="btn btn-link nav-link" [class.active]="!textActive" aria-selected="false" type="button" (click)="textActive = false">Photo</button>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <div *ngIf="textActive">
            <textarea rows="3" placeholder="Share your story here..." [(ngModel)]="postText"></textarea>
        </div>
        <div *ngIf="!textActive" class="centered">
            <img [src]="postImage" *ngIf="postImage" class="img-restrict">
            <br *ngIf="postImage">
            <label class="custom-file-upload">
                <input type="file" imageUpload [resizeOptions]="options" (imageSelected)="selectedImage($event)">
                <span *ngIf="!postImage"><clr-icon shape="upload" size="16"></clr-icon>Upload Photo</span>
                <span *ngIf="postImage"><clr-icon shape="upload" size="16"></clr-icon>Change Photo</span>
            </label>
        </div>
    </div>
    <div class="card-footer align-right">
        <a class="btn btn-primary" (click)="createPost()"><clr-icon shape="pin" class="post-icon"></clr-icon>Post</a>
    </div>
</div>