.ad-container {
	 height: 300px;
	 overflow: hidden;
}

.timeline-pad {
	padding-top: 80px;
	max-width: 1200px;
	margin: auto;
}

.timeline {
	height: 88vh;
	overflow-y: scroll;
	padding-bottom: 80px;
}