<app-header></app-header>
<div class="row timeline-pad">
    <div class="col-xs-3">
    	<span>Profile</span>
    </div>
    <div class="col-xs-6 timeline">
        <new-post></new-post>
        <ng-container *ngFor="let post of posts | async">
            <user-post [post]="post"></user-post>
        </ng-container>
    </div>
    <div class="col-xs-3">
    	<div class="card card-block ad-container">
	        <ng2-adsense [width]="300" [height]="250"></ng2-adsense>
	    </div>
    </div>
</div>