.ad-container {
	 height: 300px;
	 overflow: hidden;
}

.timeline-pad {
	padding-top: 80px;
	max-width: 1200px;
	margin: auto;
}

.timeline {
	height: 88vh;
	overflow-y: scroll;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}

.avatar-constrain {
	max-width: 100px;
	border-radius: 50%;
}

.no-photo-constrain {
	padding: 12px;
    border: 1px solid;
    border-radius: 50%;
}

.ellipsify {
	overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) { 
	.hide-mobile {
		display: none;
	}

	.expand-mobile {
		flex: 0 0 100% !important;
    	max-width: 100% !important;
	}
}